@import "reset";
@import "nav";
@import "hero";
@import "assortment";
@import "about";
@import "work";
@import "footer";

:root {
    --MainFontFirst: 'Barlow', sans-serif, 'Roboto', sans-serif;
    --MainFontSecond: 'Fraunces', serif;
    --typeofwhite: #FEFCF7;
    --typeofblue: #333D4B;
}

%container {
    max-width: 1440px;
    margin: 0 auto;
}

.hamburger-menu {
    background-color: transparent;
    border: none;
    font-size: 25px;
    display: none;
}

@media only screen and (max-width: 1430px) {
    .circle-second {
        display: none;
    }

    .circle-third {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        @extend %container;
    }

    .navbar {
        max-width: 688px;
        margin: 0 auto;
    }

    .hero {
        padding-left: 58px;
        max-width: 689px;
        min-height: 500px;
        // background-position-x: right;
        background-position: center;

        .hero__heading {
            font-size: 48px;
            font-weight: 900;
            line-height: 48px;
            max-width: 329px;
        }

        .hero__text {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            max-width: 398px;
        }

        .btn {
            background-color: #0E8784;
            color: var(--typeofwhite);
            transition: 0.2s ease;

            &:hover {
                background-color: #ffbbbb;
                color: var(--typeofblue);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .assortments {
        display: flex;
        flex-direction: column;
        gap: 48px 0px;
        padding-top: 203px;
        padding-bottom: 144px;
    }

    .assortments__card {
        display: flex;
        align-items: center;


        .assortments__card-bottom {
            .asts__card-head {
                text-align: start;
                font-size: 24px;
                font-weight: 900;
                line-height: 32px;
            }

            .asts__card-text {
                text-align: start;
                max-width: 282px;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
            }
        }
    }

    .about__heading {
        padding-top: 56px;
        font-size: 32px;
        font-weight: 900;
        line-height: 48px;
    }

    .about__paragraph {
        padding-bottom: 56px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        gap: 24px 0px;
        padding-bottom: 70px;

        .about__cards {
            max-width: 573px;
            padding: 41px 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 0px 55px;

            img {
                padding-bottom: 0px;
                padding-left: 22px;
            }

            .text-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                .about__cards-text {
                    max-width: 344px;
                    text-align: start;
                }

                .about__cards-head {
                    text-align: start;
                }

            }
        }
    }

    .work__wrapper {
        gap: 45px 0px;
    }



    .work__head {
        max-width: 255px;
        margin-bottom: 10px;
    }

    .work__cards {
        gap: 0px 10px;
    }

    .work__btn {
        background-color: #0E8784;
    }

    footer {
        .container {
            max-width: 688px;
        }

        .footer__wrapper {
            display: flex;
            flex-direction: column;
            gap: 65px 0px;

            .footer__links {
                display: flex;
                flex-direction: column;
                gap: 32px 0px;

                img {
                    margin-left: -20px;
                }
            }
        }

    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        max-width: 326px;
        margin: 0 auto;
    }


    .navbar__list {
        display: none;
    }

    .hamburger-menu {
        display: block;
        margin-bottom: -7px;
    }

    .hero {
        max-width: 327px;
        padding: 0px 24px;
        background-position-x: right;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .hero__heading {
                text-align: center;
                font-size: 40px;
                font-weight: 900;
                line-height: 40px;
            }

            .hero__text {
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
            }

            .btn {
                padding: 15px 16px;
                text-align: center;
                font-size: 18px;
                font-weight: 900;
                line-height: 25px;
                background-color: #0E8784;
                color: var(--typeofwhite);
                transition: 0.2s ease;

                &:hover {
                    background-color: #ffbbbb;
                    color: var(--typeofblue);
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }

    .assortments__card {
        flex-direction: column;

        .assortments__card-bottom {
            gap: 15px 0px;

            .asts__card-head {
                text-align: center;
                max-width: 282px;
            }

            .asts__card-text {
                text-align: center;
                max-width: 282px;
            }
        }
    }

    .about__wrapper {
        gap: 24px 0px;

        .about__heading {
            padding-top: 64px;
            font-size: 28px;
            font-weight: 900;
            line-height: 28px;
            max-width: 279px;
        }

        .about__paragraph {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            max-width: 279px;
            padding-bottom: 64px;
        }

        .about__cards {
            flex-direction: column;
            gap: 55px 0px;
            padding-top: 72px;
            padding-bottom: 48px;
            padding-left: 48px;
            padding-right: 48px;

            img{
                padding-left: 0;
            }

            .text-wrapper {
                justify-content: center;
                align-items: center;

                .about__cards-head {
                    text-align: center;
                }

                .about__cards-text {
                    text-align: center;
                    max-width: 212px;
                }
            }
        }
    }

    .work__head{
        text-align: center;
        max-width: 327px;
    }

    .line{
        display: none;
    }

    .work__cards{
        flex-direction: column;
    }

    .cards-info{
     max-width: 327px;
     justify-content: center;
     align-items: center;

     .digit{
        text-align: center;
    }

    .info__head{
        max-width: 327px;
    }

    .info__text{
        text-align: center;
        max-width: 327px;
    }
    }

    .work__btn{
        align-self: center;
    }

    .list{
        flex-direction: column;
        gap: 24px 0px;
    }

}